body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f2f2;
    color: rgb(19, 19, 19);
}
header, nav, main, footer {
    margin-bottom: 20px;
    padding: 10px;
}
nev ul {
    list-style-type: none;
    padding: 0;
}
nev ul li a {
    text-decoration: inline;
    margin-right: 15px;
    font-weight: bold;
}
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}
td, th {
    border: 1px solid #ddd;
    padding: 10px;
}
/* color for table headers */
th {
    background-color: #4CAF50;
    color: white;
}
.cv{border: 5px solid;}
.datos{border: 5px solid; margin-top: 10px;}
.perfil{border: 5px solid; margin-top: 10px;}
.educacion{border: 5px solid; margin-top: 10px;}
.experiencia{border: 5px solid; margin-top: 10px;}
.habilidades{border: 5px solid; margin-top: 10px;}
.idiomas{border: 5px solid; margin-top: 10px;}
.intereses{border: 5px solid; margin-top: 10px;}
img{ display: block; margin-left: right; margin-right: autoright; margin-top: 10px; margin-bottom: 10px;
}
div{border: 5px solid; margin-top: 20px; padding: 10px; background-color: #e0e0e0;
}
