body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
h1 {
    color: #090909;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(red, green, blue, alpha);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 36px;
    letter-spacing: 2px;
    border-bottom: 3px solid #030303;
    padding-bottom: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration-color: brown;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
h2 {
    color: #6b529a;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
}
p {
    line-height: 1.6;
    margin-bottom: 10px;
    color: black;
}
a {
    color: #0066cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav ul li a {
    font-weight: bold;
    text-decoration: inline;
    margin-right: 15px;
    font-weight: bold;
}
header, nav, main, footer {
    margin-bottom: 20px;
    padding: 10px;
}
footer {
    text-align: center;
    font-size: 14px;
    color: #d5c2c2;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}
    
/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}
td, th {
    border: 1px solid #ddd;
    padding: 10px;
}
/* color for table headers */
th {
    background-color: #0ae311;
    color: white;
}
.cv{border: 5px solid;}
.datos{border: 5px solid; margin-top: 10px;}
.perfil{border: 5px solid; margin-top: 10px;}
.educacion{border: 5px solid; margin-top: 10px;}
.experiencia{border: 5px solid; margin-top: 10px;}
.habilidades{border: 5px solid; margin-top: 10px;}
.idiomas{border: 5px solid; margin-top: 10px;}
.intereses{border: 5px solid; margin-top: 10px;}
.Hora{background-color: #eaea05; color: white(0, 0, 0); font-weight: bold;}
.Horario{background-color: #ecdd02; color: white(0, 0, 0); font-weight: bold;}
img{ display: block; margin-left: right; margin-right: autoright; margin-top: 10px; margin-bottom: 10px;
}
div{border: 5px solid; margin-top: 20px; padding: 10px; background-color: #e0e0e0;
}
